name: Build and Publish Add-on

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  ADDON_SLUG: benekov-mqtt

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: aarch64
            platform: linux/arm64
          - arch: armv7
            platform: linux/arm/v7
          - arch: armhf
            platform: linux/arm/v6
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read version from config.yaml
        run: echo "VERSION=$(grep -m1 '^version:' ./benekov-mqtt/config.yaml | awk '{print $2}')" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./benekov-mqtt
          file: ./benekov-mqtt/Dockerfile
          push: true
          platforms: ${{ matrix.platform }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.ADDON_SLUG }}-${{ matrix.arch }}:${{ env.VERSION }}
            ghcr.io/${{ github.repository_owner }}/${{ env.ADDON_SLUG }}-${{ matrix.arch }}:latest
          build-args: |
            BUILD_FROM=ghcr.io/hassio-addons/base:14.1.0
